<section class="generic-content">
		<div class="layout-wrapper">
			<div class="col left">
				<div class="image-wrap">
					<div class="image" style="background-image:url('{{theme.path}}/assets/images/col-left.jpg')"></div>
					<span class="caption">Image caption to go here</span>
				</div>
				<h6 class="subtitle">THE BEST OF BRITISH ENGINEERING</h6>
				<h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
				<div class="content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo massa, dictum ut ligula id, sollicitudin imperdiet massa. Donec euismod dui ex, sed vehicula elit interdum id. Pellentesque in mi id leo sodales ornare at quis nisi.</p>
				</div>
				<a href="" class="button">consectetur adipiscing elit Sed <img src="{{theme.path}}/assets/images/news-arrow-white.png" alt=""></a>
			</div>
			<div class="col right">
				<div class="image-wrap">
					<div class="image" style="background-image:url('{{theme.path}}/assets/images/col-right.jpg')"></div>
					<span class="caption">Image caption to go here</span>
				</div>
				<h6 class="subtitle">DESIGNED AND BUILT BY PROFESSIONALS</h6>
				<h2 class="title">Sed leo massa, dictum ut ligula id, sollicitudin imperdiet massa.</h2>
				<div class="content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor pretium velit. Donec quis gravida nunc. Mauris egestas ullamcorper ligula ac elementum.</p>
					<br>
					<p>Morbi magna lacus, imperdiet et ex id, commodo sollicitudin tellus. Morbi lorem odio, congue ac diam sit amet, convallis consequat sapien. Nullam orci sapien, bibendum et scelerisque vehicula, dictum id arcu. Nulla in libero in arcu maximus ultricies non a purus.</p>
				</div>
			</div>
		</div>
	</section>