<section class="newsletter-cta">
	<div class="image" role="img" style="background-image: url('{{context.theme.path}}/assets/images/newsletter-cta-bg.jpg')"></div>
	<div class="content">
		<div class="mailing-list-text">
			<h5>{{ atts.subtitle }}</h5>
			<p>{{ atts.title }}</p>
		</div>
		<div class="mailing-list-form">
			<form action="">
				<div class="name-email">
					<div class="form-input">
						<label for="name">NAME: </label>
						<input type="text" name="name">
					</div>
					<div class="form-input">
						<label for="name">EMAIL: </label>
						<input type="email" name="email">
					</div>
				</div>
				<div class="submit">
					<input type="submit" value="SUBMIT">
				</div>
			</form>

			<div class="social-media">
				<div class="social-media-row">
					<a href="">
						<span class="social-media-icon">
							<i class="fab fa-facebook-f"></i>
						</span>
					</a>
					<a href="">
						<span class="social-media-icon">
							<i class="fab fa-instagram"></i>
						</span>
					</a>
				</div>
				<div class="social-media-row">
					<a href="">
						<span class="social-media-icon">
							<i class="fab fa-twitter"></i>
						</span>
					</a>
					<a href="">
						<span class="social-media-icon">
							<i class="fas fa-envelope"></i>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>