<section class="testimonials">
	<div class="layout-wrapper">
		<h3 class="title">Lorem ipsum dolor sit amet</h3>
		<h5 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>

		<div class="testimonial-wrapper" style="background-image:url('{{theme.path}}/assets/images/newsletter-cta-bg.jpg');">
			<div class="testimonial">
				<div class="content">
					<p>Vestibulum quis tristique sem. Nam quis vulputate lacus. In tortor tellus, tincidunt vitae urna eget, porta condimentum ipsum. Aenean porttitor, nulla non varius ullamcorper, quam leo rhoncus diam.</p>
				</div>
				<span class="author">Joe Bloggs</span>
				<span class="description">Happy Customer <a href="">#sociallink</a></span>
			</div>
			<div class="testimonial">
				<div class="content">
					<p>Sed feugiat purus ultrices sodales luctus. Sed dictum ornare neque, eget interdum lectus vestibulum ac. Donec consectetur eu nisl eu pretium. Curabitur in lacus tortor. Vestibulum fermentum. </p>
				</div>
				<span class="author">Jayne Doe</span>
				<span class="description">Happy Customer <a href="">#sociallink</a></span>
			</div>
			<img src="{{theme.path}}/assets/images/quote.png" alt="">
		</div>
	</div>
</section>